@use 'abstracts' as a;

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid a.theme-color(foreground, 0.08);
  border-bottom: 0.1rem solid a.theme-color(foreground, 0.08);

  // Nest only selectors that are structurally owned by the component.
  // This keeps selector depth shallow while making the relationship explicit.
  summary {
    display: flex;
    position: relative;
    line-height: 1;
    padding: 1.5rem 0;
  }

  .summary__title {
    display: flex;
    flex: 1;

    + .icon-caret {
      height: calc(var(--font-heading-scale) * 0.6rem);
    }
  }

  .icon-accordion {
    align-self: center;
    fill: a.theme-color(foreground);
    height: calc(var(--font-heading-scale) * 2rem);
    margin-right: calc(var(--font-heading-scale) * 1rem);
    width: calc(var(--font-heading-scale) * 2rem);
  }

  details[open] > summary .icon-caret {
    transform: rotate(180deg);
  }

  & + & {
    margin-top: 0;
    border-top: none;
  }

  &__title {
    display: inline-block;
    max-width: calc(100% - 6rem);
    min-height: 1.6rem;
    margin: 0;
    word-break: break-word;
  }

  &__content {
    margin-bottom: 1.5rem;
    word-break: break-word;
    overflow-x: auto;
    padding: 0 0.6rem;

    img {
      max-width: 100%;
    }
  }
}
